body {
    font-family:'Arial', 'Helvetica Neue', Helvetica,sans-serif;
}




.logo ul {
    font-family:"georgia", Times, 'Times New Roman', serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding 10px 100px;
    box-sizing: border-box;
}

nav .logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
}

nav ul {
    list-style:none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 80px;
    padding: 12px 30px;
    text-decoration: none;
}